version: "3.9"

services:
#  mysqldb:
#    image: mysql:8.0
#    container_name: mysqldb
#    ports:
#      - "3307:3306"
#    environment:
#      MYSQL_ROOT_PASSWORD: root
#      MYSQL_DATABASE: lmsdb
#      MYSQL_USER: lmsuser
#      MYSQL_PASSWORD: lmsuserpwd
#
#  lms-adminer:
#    image: adminer:latest
#    container_name: lms-adminer
#    ports:
#      - "8081:8080"
#    environment:
#      ADMINER_DEFAULT_SERVER: mysqldb
#    depends_on:
#      - mysqldb

  redis:
    image: redis:7-alpine
    container_name: lms-redis
    command: [
      "redis-server",
      "--appendonly", "yes",
      "--maxmemory", "400mb",
      "--maxmemory-policy", "allkeys-lru"
    ]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512m

  redisinsight:
    image: redis/redisinsight:latest
    container_name: lms-redisinsight
    ports:
      - "5540:5540"
    restart: unless-stopped

volumes:
  redis-data:


